<form method="POST" action="/posts/add">
  <div class="posttitle">
    <input type="text" name="posttitle" id="posttitle" placeholder="Title for your post...">
    <hr>
  </div>
  <div class="postbody">
    <textarea rows="7" cols="100" name="postbody" id="postbody"></textarea>
  </div>
  <input type="submit">

</form>